/* debug */

/* [class*="container"] {
    background-color: teal;
    border: 2px solid salmon;
}

[class*="col"] {
    background-color: steelblue;
    min-height: 50px;
    border: 2px solid orange;
}

.ms-cont-bg {
    background-color: olivedrab;
    border: 2px solid sienna;
    width: 100%;
} */

/* fine debug */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap');

body {
    font-family: 'Rubik', Helvetica, Arial, sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 3.5rem;
}

h2 {
    font-weight: 700;
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
}

.ms-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.ms-divider .ms-divider-line {
    background-color: white;
    padding: 2px 0;
    width:15%;
    height: 100%;
    border-radius: 2px;
}

.ms-divider .ms-divider-star {
    color: white;
    margin: 0 30px;
    font-size: 1.8rem;
}

/* /////////////////////// */
/* header */

/* navbar */
header #ms-navbar {
    background-color: #2c3e50;
    padding: 10px 0;
}

header #ms-navbar .navbar-brand {
    font-size: 1.8rem;
    font-weight: 700;
}

header #ms-navbar .nav-item {
    font-size: 1.2rem;
}


/* jumbotron */
header #jumbotron {
    background-color: #1abc9c;
    padding: 40px 0;
}

header #jumbotron img {
    max-width: 20%;
}

header #jumbotron h1, header #jumbotron h3 {
    color: white;
}

/* /////////////////////// */
/* main */

/* portfolio */
main #portfolio {
    padding: 40px 0;
}

main #portfolio h2 {
    color: #333333;
}

main #portfolio .ms-divider-line {
    background-color: #2c3e50;
}

main #portfolio .ms-divider-star {
    color: #2c3e50;
}

main #portfolio img {
    max-width: 100%;
    border-radius: 10px;
    margin: 15px 0;
}

/* about */
main #about {
    background-color: #1abc9c;
    padding: 40px 0;
}

main #about h2 {
    color: white;
}

main #about p {
    color: white;
    font-size: 1.2rem;
}

main #about .row .col:nth-child(1) p {
    padding-left: 40px;
}

main #about .row .col:nth-child(2) p {
    padding-right: 40px;
}

main #about .btn-outline-primary {
    color: white;
    border-color: white;
    margin: 10px 0;
    font-weight: 300;
}

main #about .btn-outline-primary:hover {
    background-color: rgba(255, 255, 255, .2);
}

/* /////////////////////// */
/* footer */
footer {
    color: white;
}

footer a {
    color: rgba(255, 255, 255, .7);
}

footer a:hover {
    color: white;
}

footer section {
    padding: 40px 0;
}

/* contacts */
footer #contacts {
    background-color: #3a546d;
}

footer #contacts .col {
    font-weight: 300;
    font-size: 1.1rem;
}

footer #contacts .col:nth-child(2) .ms-icon-cont {
    display: flex;
    justify-content: center;
}

footer #contacts .col:nth-child(2) .ms-icon-cont a {
    border: solid 1px white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    text-decoration: none;
}

footer #contacts .col:last-child a {
    color: #1abc9c;
}

/* copyright */
footer section:last-child {
    background-color: #2c3e50;
    font-weight: 300;
}